ul, ol {
	display: flex;
	flex-direction: column;
	gap: 8px
}

ol {
	counter-reset: section;
	list-style-type: none;

	& li {
		color: #56585d;
		font-size: 22px;
		font-weight: 500;

		& > ol {
			margin-top: 8px;
		}

		&::before {
			counter-increment: section;
			content: counters(section, ".") ". ";
		}
	}
}

ul {
	& li {
		color: #56585d;
		font-size: 22px;
		font-weight: 500;
		list-style: none;

		& > ul {
			margin-top: 8px;
		}

		&::before {
			content: "\2022"; 
			color: #bbb;
			display: inline-block;
			width: 1em;
			margin-left: -1em;
		}
	}
}