---
import Frontpage from '../layouts/Frontpage.astro';
---

<Frontpage title="Welcome to Docs">
	<main>
		<article>
			<h1>Documentation for Humans</h1>

			<h2>Projects</h2>
			<ul>
				<li><a href="/meta/index">Meta</a></li>
			</ul>
		</article>
	</main>
</Frontpage>